.*.settings.*
target
xtend-gen
*.iml
.idea
**/surefire-reports/

# General files
**/*.log
**/*.log.zip

**/dependency-reduced-pom.xml
.DS_STORE

# Folder for generated sources
**/src/gen/java

### Gradle ###
.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# jEnv file
.java-version